---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.tsx";
import Separator from "../components/Separator.tsx";

import { getCollection } from "astro:content";
const project = await getCollection("project");
const blog = await getCollection("blog");
---

<Layout title="Amangoua Ange | Portfolio by Astro JS.">
  <main class="dark:bg-neutral-900 h-full pb-20">
    <h2
      class="tracking-tight dark:text-white text-neutral-900 text-balance lg:text-4xl text-2xl font-medium"
    >
      The ultimate all-in-one platform for managing your personal business
      ventures
    </h2>
    <p class="lg:text-lg text-base text-neutral-500 lg:my-4 my-1 font-normal">
      Beautifully designed in light and dark mode so you look good on every
      screen, because you never know who's watching you
    </p>
    <div class="flex gap-2">
      <Button type="medium" color="white" href="/contact"> Contact me </Button>
      <Button type="medium" href="/hire-me"> Hire me </Button>
    </div>

    <h2
      class="tracking-tight text-balance lg:text-4xl text-2xl mt-20 font-medium dark:text-white text-neutral-900"
    >
      Hire me
    </h2>
    <p class="lg:text-lg text-base text-neutral-500 lg:my-2 font-normal">
      I am available for freelance work in the following areas:
    </p>

    <Separator />
    <p class="lg:text-lg text-base text-neutral-500 lg:mt-18 font-normal mt-2">
      You can hire me to design your website, app, or any other digital product.
      I have a wide range of skills and experience in UI/UX design, including
      wireframing, prototyping, and visual design.
    </p>
    <ul class="lg:text-lg text-sm text-neutral-500 font-normal list-disc m-5">
      <li>UI/UX Design</li>
      <li>Full-Stack Development</li>
      <li>Branding</li>
      <li>Content Strategy</li>
      <li>Branding</li>
    </ul>
    <Separator />
    <a href="/" class="my-3 float-right flex items-center gap-2">
      Learn more about my services
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="size-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m4.5 4.5 15 15m0 0V8.25m0 11.25H8.25"></path>
        </svg>
      </span>
    </a>

    <h2
      class="tracking-tight text-balance lg:text-4xl text-2xl mt-32 font-medium dark:text-white text-neutral-900"
    >
      Projects that I made
    </h2>
    <p class="lg:text-lg text-base text-neutral-500 font-normal">
      I have a passion for building and creating software, and I am always
      looking for new ways to improve my skills and knowledge
    </p>
    <Separator />

    <div class="grid mt-10 gap-20 lg:grid-cols-2 grid-cols-1 divide-2">
      {
        project.slice(0, 2).map((post) => (
          <>
            <div class="flex flex-col">
              <div class="flex flex-row gap-5">
                <span class="w-10 h-10 rounded-lg border border-neutral-700 overflow-hidden">
                  <img src={post.data.image} alt="image" />{" "}
                </span>
                <span>
                  <p class="text-neutral-950 dark:text-neutral-100">
                    {post.data.title}
                  </p>
                  <p class="text-neutral-500 font-ati">{post.data.year}</p>
                </span>
              </div>
              <p class="lg:text-sm text-yellow-300 text-base mt-2 flex items-center gap-2  font-normal">
                <a href={post.data.github}>github</a>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                  />
                </svg>
              </p>
            </div>
          </>
        ))
      }
    </div>
    <Separator />

    <a href="/projects" class="my-3 float-right flex items-center gap-2">
      See all projects
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="size-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m4.5 4.5 15 15m0 0V8.25m0 11.25H8.25"></path>
        </svg>
      </span>
    </a>
    <h2
      class="tracking-tight text-balance lg:text-4xl text-2xl mt-32 font-medium dark:text-white text-neutral-900"
    >
      Latest Articles
    </h2>
    <p class="lg:text-lg text-base text-neutral-500 font-normal">
      Check out my newest blog posts and discover the latest insights and
      trends.
    </p>
    <Separator />

    <div class="grid mt-10 gap-20 lg:grid-cols-2 grid-cols-1 divide-2">
      {
        blog.slice(0, 2).map((post) => (
          <div class="flex flex-col">
            <a href={post.data.href}>
              <div class="flex items-center gap-5">
                <span class="w-10 h-10 rounded-lg overflow-hidden border-neutral-700">
                  <img src={post.data.image} alt={post.data.title} />
                </span>
                <span>
                  <p class="text-neutral-950 dark:text-neutral-100">
                    {post.data.title}
                  </p>
                  <p class="text-neutral-500 font-ati">
                    {post.data.date.toUTCString().slice(0, 17)}
                  </p>
                </span>
              </div>
            </a>
            <p class="lg:text-sm text-yellow-300 text-base mt-2 flex items-center gap-2  font-normal">
              <a href={post.data.href}>read article</a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                />
              </svg>
            </p>
          </div>
        ))
      }
    </div>

    <Separator />
    <a href="/blog" class="my-3 float-right flex items-center gap-2">
      Read all posts

      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="size-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m4.5 4.5 15 15m0 0V8.25m0 11.25H8.25"></path>
        </svg>
      </span>
    </a>
  </main>
</Layout>
